//font families
$base-font: 'Montserrat', sans-serif;
$heading-font: 'Life Savers', cursive;

//colors
$base-color: #d32e25;
$primary-color: #000;
$blue: #118ab2;
$light-red: #fc5a49;
$yellow: #f39530;
$dark-pink: #aa3749;

//font size
$base-font-size: 18px;

//font weights
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;
$black: 900;

$wrapper: 1280px;
$gutter: 15px;
